@page
@model HLFundView.Converter.Pages.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="puller" class="wrapper">
    <button type="button" class="btn btn-primary btn-lg" @@click="getdividentcalander()" :disabled="buttondisabled === true">Pull NASDAQ Dividend Calender Data</button>
    <button type="button" class="btn btn-primary btn-lg" @@click="getsharedata()" :disabled="buttondisabled === true">Pull NASDAQ Share Data</button>

    <br /><hr/>
    <button type="button" class="btn btn-primary btn-lg" @@click="getlsedividenddata()" :disabled="buttondisabled === true">Pull LSE Dividend Data</button>

</div>


@section scripts {
    <script src="~/js/dividend.js" asp-append-version="true"></script>
}
    